body {
    background-image: url('/src/assets/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.logo-container img {
    width: 300px; 
    height: auto;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
    height: aut;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.titulo {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    color: #00bfff;
    position: relative;
    padding-left: 30px;
}

.titulo::before,
.titulo::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.titulo::after {
    animation: pulse 1s linear infinite;
}


.mensagem, 
.cadastro {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.cadastro a {
    color: #00bfff;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    width: 100%;
    gap: 10px;
}

.flex label {
    flex: 1;
    position: relative;
}

.forms label {
    position: relative;
    width: 100%;
    display: block;
}

.forms input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.forms label span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    transition: 0.3s ease;
    pointer-events: none;
}

.forms input:focus + span,
.forms input:not(:placeholder-shown) + span {
    top: 5px;
    font-size: 0.75rem;
    color: #00bfff;
    font-weight: 600;
}

.confirme {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    background-color: #00bfff;
    cursor: pointer;
    transition: 0.3s;
}

.confirme:hover {
    background-color: #009fdd;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
